.about-container {
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    // min-height: 100vh;
    // height: 100vh;
    height: max-content;
    background-color: #f5f5f5;

    .about-wrapper {
        display: flex;
        flex-direction: column;
        // width: 100%;
        height: max-content;
        // border: 1px solid red;
        margin: 80px auto 0px auto;
        max-width: 1200px;

        .about-caption {
            display: flex;
            flex-direction: column;
            width: max-content;
            // border: 1px solid red;
            margin: 0px auto ;

            .caption {
                font-size: 55px;
                font-weight: 800;
                height: max-content;
                width: 100%;
                // border: 1px solid red;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                span {
                    // border: 1px solid red;
                    width: max-content;
                    height: max-content;
                }
            }
        }

        .about-details {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 40px;

            .about-details-item {
                flex: 1;

                .biography-header {
                    margin: 0px 0px 20px 0px;
                    font-weight: bold;
                }

                .biography-body {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 0px 30px 0px 0px;
                }

                .phone-frame {
                    border: 2px solid rgba(0, 0, 0, 0.586);
                    height: 520px;
                    width: 400px;
                    border-radius: 20px;
                    padding: 50px 30px;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    margin: 30px 0px 0px 0px;

                    img {
                        object-fit: cover;
                        object-position: 0px -170px;
                        z-index: 1;
                        width: 400px;
                        // border: 1px solid red;
                        border-radius: 20px;
                    }

                    // .coverImg {
                    //     width: 500px;
                    // }

                    .camera {
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        background-color: rgba(0, 0, 0, 0.586);
                        position: absolute;
                        margin: -30px 0px 0px 170px;
                        z-index: 2;
                    }

                    .circle-button {
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        z-index: 2;
                        position: absolute;
                        margin: 425px 0px 0px 170px;
                        // background-color: rgba(0, 0, 0, 0.586);
                        border: 1px solid rgba(0, 0, 0, 0.586);
                    }
                }

                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    // border: 1px solid red;
                    margin-bottom: 60px;

                    .stat {
                        // border: 1px solid red;
                        width: max-content;
                        font-size: 50px;
                        font-weight: bold;
                    }

                    .stat-description {
                        // border: 1px solid red;
                        width: max-content;
                        font-size: 20px;
                    }
                }
            }

        }

    }

}