.animatedtext-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    border: 1px solid red;
    // text-align: center;
}